body{
        
    background-image: url(https://img.freepik.com/free-photo/cappuccino-glass-with-croissant-wooden-circular-tray_23-2147908386.jpg?w=996&t=st=1663532405~exp=1663533005~hmac=9bd0db6186360a2c1beea7034dfe9d68cc6462d71452ae3bb32c3186ee087c59

);
    background-repeat: no-repeat;
    background-size:cover;
    } 



    .box{ width: 900px;
    float:right;
    border:1px solid none;}
    



     .box ul li{
       width: 120px;
       float:center;
       margin: 10px auto;
       text-align: center;
     }
     .header
    {
     width:  1500px;
     position: fixed;
     height: 50px;
    }
    .box{
     background-color: rgba(3, 3, 3, 0.434);
     width: 71%;
     float: right ;
    border:0.9px solid black;}
    
   

     .box ul li a{ text-decoration: none;
     color:darkgrey;}

     .box ul li a:hover { color:white;} 
     
     

     .wd {
    width: 250px;
    height: 539px;
    background-color: rgba(0, 0, 0, 0.916);
    opacity: 0.9;
    padding: 55px;
    
   }
    
   .wd h1{
     text-align: center;
     text-transform: uppercase;
     color: white;
     font: weight 100px;
   }

    .wd h4 {
     text-align: justify;
     color:darkgrey;
     font: weight 100px;
   }

   img
   { 
   max-width:300px;
   max-height: 150px;
   border-radius: 90px;
 
   }